
  <div class="panel panel-default">
  		<div class="panel-heading">
	    	<h3 class="panel-title">
	    		<%= @quote_to_render[:text] %>
	    	</h3>
  		
  		</div>
  		
  		<div class="panel-body">
    			<%= @quote_to_render[:text] %>
          <br/>

          <%= @quote_to_render[:author] %>

          <hr/>

          <div class="row">
          Tags:
              List of tags

          Favorite:

          </div>


          <div class="row">
            Share:
              Copy URL
              Post to Facebook
              Post to Linkedin
              Post to Twitter
          </div>

  		</div>
	</div>