
<div class="page-header">
	<h3>
		<%= image_tag @user_to_render.set_profile_pic_url %>

		<%= @user_to_render.full_name %>'s Quotes
	</h3>
</div>

<div class="row">
  <div class="col-md-8 .col-md-push-4">
  	<% @quote_to_render = @ary_quotes[0] %>
	
	<%= render "quotes/shared/individual_quote" %>

	<% @quote_to_render = @ary_quotes[1] %>

	<%= render "quotes/shared/individual_quote" %>

  </div>

  <div class="col-md-4 .col-md-pull-8">
	<div class="list-group">
	  
	  <a href="#" class="list-group-item">
	    <h4 class="list-group-item-heading">
	    	Quote Catogeries
	    </h4>
	    <p class="list-group-item-text">
	    	asdkfjsad fadsk jflkdsaj flsd
	    </p>
	  </a>
	</div>
  </div>
</div>
