
<div class="page-header">
	<h3>
		<%= @author_to_render[:full_name] %>'s Quotes
	</h3>
</div>

<div class="row">

<!-- Most Popular Quotes -->
  <div class="col-md-8 .col-md-push-4">
  	<% @ary_quotes.each do |quotes| %>

	  	<% @quote_to_render = quotes %>
	
		<%= render "quotes/shared/individual_quote" %>
	<% end %>
  	
  </div>

  <!-- Right Panel -->
  <div class="col-md-4 .col-md-pull-8">
  	<div class="panel panel-default">
		<div class="panel-body">
			Follow Button
		</div>
	</div>

  </div>



</div>